PORT=8000
MONGODB_URI=mongodb+srv://example:examplepass@cluster0.yqmtelq.mongodb.net/example?retryWrites=true&w=majority&appName=Cluster0
NODE_ENV=development
#jwt secret
JWT_ACCESS_SECRET=access_secret
JWT_ACCESS_EXPIRED=3d
#jwt refresh
JWT_REFRESH_SECRET=refresh_secret
JWT_REFRESH_EXPIRED=30d
#BCRYPT
BCRYPT_SALT_ROUND=10
